.contenedorProductos{
   
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

   
    
}

.contenedorGralProductos{
    background-color: #232931; /* Fondo oscuro elegante */
    padding: 20px;
    
    height: 100vh;
}