.contenedor_gral_detalle_producto{
    background-color: #232931; /* Fondo oscuro elegante */
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;


}

.contenedor_img_producto{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_gral_detalle_producto img{
    align-self: center;
    height: 600px;
    border-radius: 15px;
}
.contenedor_detalle_producto{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    width: 100%;
}


.contenedor_descripcion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 20px 40px;
    background-color: #393E46;
    border-radius: 15px;
}

.contenedor_descripcion  span{
    color: #00ADB5;
}

.detalle_titulo{
    color: #00ADB5;
    font-size: 30px;
}

.detalle_precio{
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}


.contenedor_descripcion_producto{
   
    padding-top: 20px;
    color: white;
    
}


.contenedor_comprar{
    display: flex;
    
    align-items: center;
    gap: 15px;
}

