header{
    background-color: black;
    padding: 10px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-menu{
    width: 30%;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
}

.container-menu a{
    text-decoration: none;
    
    color: aliceblue;

}


.container-menu li{
    list-style: none;
}
p{
    color: aliceblue;
}

.container-logo img{
   
    max-width: 70px;
}